<app-header />
<main>
  <ul id="users">
    <!-- @for (user of users; track $index) { -->
    <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event.id)" />
    </li>
    <!-- } -->
  </ul>
  <!-- @if(selectedUser) { -->
    <app-app-task [name]="selectedUser!.name" *ngIf="selectedUser; else fallback"/>

    <ng-template #fallback>
      <p id="fallback">Select a user to see their tasks!</p>
    </ng-template>
  <!-- } @else {
      <p id="fallback">Select a user to see their tasks!</p>
  } -->
</main>
